{% extends "base.html" %}

{% block title %}Редагувати постачника послуг{% endblock %}

{% block content %}
    <h2>Редагувати постачника послуг</h2>
    <form method="POST" action="{{ url_for('update_service_provider', provider_id=provider.idservice_providers) }}">
        <label for="service_providerscol">Назва постачальника:</label>
        <input type="text" name="service_providerscol" value="{{ provider.service_providerscol }}" required>

        <label for="phone_number">Телефон:</label>
        <input type="text" name="phone_number" value="{{ provider.phone_number }}" required>

        <label for="services">Послуги:</label>
        <textarea name="services" required>{{ provider.services }}</textarea>

        <button type="submit">Оновити</button>
    </form>
{% endblock %}
